<p id="what">  
  <strong>What:</strong>
  The aim of Software Carpentry is to teach researchers the fundamental skills that will help them be more productive
  while producing work of higher quality. During this two day workshop, students learn how to automate tasks using
  the Unix shell, how to track and share work using version control in Git, and data management and visualisation in R.
</p>
<p align="center">
  <em>
    This is not a full Software Carpentry, but an R tidyverse workshop based on Software Carpentry material.
  </em>
</p>
